.avatarSize1 {
  width: 20px !important;
  height: 20px !important;
}

.avatarSize2 {
  width: 40px !important;
  height: 40px !important;
}

.avatarSize3 {
  width: 60px !important;
  height: 60px !important;
}

.avatarSize4 {
  width: 80px !important;
  height: 80px !important;
}

.avatarSize5 {
  width: 100px !important;
  height: 100px !important;
}
