header a {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: "Lato";
  color: #00081e;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 0.5s;
}
header a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10%;
  top: 100%;
  left: 0;
  background: #3498db;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
header a:hover {
  color: #000000;
}
header a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

header nav a:hover {
  text-decoration: underline;
}
