/* styling random facts */

.showFactHomeDiv {
  height: 25%;
  width: 35%;
  background: #ffffff3d;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  border: 3px solid #686868;
}

#showFactButton {
  display: inline-block;
  cursor: pointer;
  margin: 20px;
  color: #fff;
  line-height: 1.4em;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.9em 3.5em;
  border: 0.18em solid transparent;
  background: #2b2f3c00;
  border-radius: 3.5em;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#showFactButton:before {
  content: "";
  display: block;
  border-radius: 3.5em;
  position: absolute;
  background: inherit;
  top: 0.2em;
  left: 0.2em;
  right: 0.2em;
  bottom: 0.2em;
  z-index: -1;
}
#showFactButton:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  transform: rotate(0deg);
  animation: gradient 2s ease alternate infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
#showFactButton:hover:after {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
#showFactButton:nth-child(1):after {
  background: #33cbeb;
  background: -moz-linear-gradient(
    left,
    #33cbeb 0%,
    #28d662 30%,
    #f07739 70%,
    #e3366b 100%
  );
  background: -webkit-linear-gradient(
    left,
    #33cbeb 0%,
    #28d662 30%,
    #f07739 70%,
    #e3366b 100%
  );
  background: linear-gradient(
    to right,
    #33cbeb 0%,
    #28d662 30%,
    #f07739 70%,
    #e3366b 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33cbeb', endColorstr='#e3366b', GradientType=1);
  background-size: 300% 300%;
}

#showFactButton:hover:after {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 95% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 95% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.topicsContainer {
  width: 100%;
  display: flex;
}

.topic {
  min-height: 50px;
  min-width: 70px;
  background-color: #84aaff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.topic:first-child {
  margin-left: 0;
}

.crossed-over {
  text-decoration: line-through;
}

#articlesHome {
  background: white;
  border-radius: 5px;
}

/* designing articles */

.article {
  width: 30%;
  /* height: 60px; */
  padding-top: 0 !important;
  display: inline-block;
}

.container-article {
  border: 1px solid black;
}

.article img {
  width: 100%;
  height: 90%;
}
